# Temporary Files
*~
.*.swp
.DS_STORE
desktop.ini
robovm-build/
project.xcworkspace/
xcuserdata/
xcode/native/
.gradle/
build/
bin/
target/
obj/
out/
classes/
war/
gen/
gen-external-apklibs/
jni/
Debug/
Release/
robovm-build/
ipch/
/dist

#for now
extensions/physic/

#maven sucks
pom.xml

*.a
*.a.tvos
*.dll.mdb
*.userprefs
*.sdf
*.class
hs_err_pid*
Thumbs.db

arc-*.zip
arc-*.zip.MD5

*.iml
/.idea/

#core & extension libs/ folders that have no 3rd party dependencies in them
/backends/arc-backend-robovm/libs/
/extensions/arc-freetype/libs/
/backends/backend-sdl/jni
/arc-core/jni/
/arc-core/obj/

#directories created by fetch.xml
/tmp/

#gradle wrapper
/local.properties
